# Prediction using Decision Tree  Algorithm :

Create the Decision Tree classifier and visualize it graphically. 

The purpose is if we feed any new data to this classifier, it would be able to  predict the right class accordingly.

In [1]:
import pandas as pd
import numpy as np

In [2]:
d=pd.read_csv("iris.csv")

In [3]:
d

     sepal-length  sepal-width  petal-length  petal-width           Class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
# Separate the dataset into independent and dependent variables
X=d.iloc[:,:-1]
y=d.iloc[:,4]

In [5]:
X

     sepal-length  sepal-width  petal-length  petal-width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [6]:
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Class, Length: 150, dtype: object

In [7]:
# Handle categorical data
from sklearn.preprocessing import LabelEncoder
labelEncoder=LabelEncoder()
X=X.apply(labelEncoder.fit_transform)
X

     sepal-length  sepal-width  petal-length  petal-width
0               8           14             4            1
1               6            9             4            1
2               4           11             3            1
3               3           10             5            1
4               7           15             4            1
..            ...          ...           ...          ...
145            24            9            28           19
146            20            4            26           15
147            22            9            28           16
148            19           13            30           19
149            16            9            27           14

[150 rows x 4 columns]

In [8]:
y=labelEncoder.fit_transform(y)
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [9]:
# Apply decision tree classifier
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier()
classifier.fit(X.iloc[:,1:4],y)

DecisionTreeClassifier()

In [10]:
# Now test the model
X_in=np.array([14,4,1])
y_predict=classifier.predict([X_in])
y_predict

array([0])

In [11]:
X_in=np.array([9,27,14])
y_predict=classifier.predict([X_in])
y_predict

array([2])

In [12]:
X.head(52)

    sepal-length  sepal-width  petal-length  petal-width
0              8           14             4            1
1              6            9             4            1
2              4           11             3            1
3              3           10             5            1
4              7           15             4            1
5             11           18             7            3
6              3           13             4            2
7              7           13             5            1
8              1            8             4            1
9              6           10             5            0
10            11           16             5            1
11             5           13             6            1
12             5            9             4            0
13             0            9             1            0
14            15           19             2            1
15            14           22             5            3
16            11           18             3            3
17             8           14             4            2
18            14           17             7            2
19             8           17             5            2
20            11           13             7            1
21             8           16             5            3
22             3           15             0            1
23             8           12             7            4
24             5           13             8            1
25             7            9             6            1
26             7           13             6            3
27             9           14             5            1
28             9           13             4            1
29             4           11             6            1
30             5           10             6            1
31            11           13             5            3
32             9           20             5            0
33            12           21             4            1
34             6           10             5            0
35             7           11             2            1
36            12           14             3            1
37             6           10             5            0
38             1            9             3            1
39             8           13             5            1
40             7           14             3            2
41             2            2             3            2
42             1           11             3            1
43             7           14             6            5
44             8           17             8            3
45             5            9             4            2
46             8           17             6            1
47             3           11             4            1
48            10           16             5            1
49             7           12             4            1
50            27           11            23           10
51            21           11            21           11

In [13]:
X_in=np.array([27,11,21])
y_predict=classifier.predict([X_in])
y_predict

array([1])

# Thank You!